$color--dark1: #2D2429;
$color--dark2: #2F2A31;
$color--grey: #82808F;
$color--light-grey: lighten($color--grey, 20%);
$color--v-light-grey: lighten($color--grey, 30%);
$color--vv-light-grey: lighten($color--grey, 40%);
$color--vvv-light-grey: lighten($color--grey, 45%);
$color--light: #E8DCD7;
$color--blue: #67D5CD;
$foo: black;
