.cartpoleRenderer {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.titleText {
  padding: 1rem 0 0 1rem;
  color: blue;
}

.cartpoleContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 250px;
  background-color: #cccccc;
}

.pole {
  width: 10px;
  height: 160px;
  position: absolute;
  bottom: 40px;
  background-color: green;
}

.cart {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  background-color: black;
}

.resultAlert {
  width: 150px;
  position: absolute;
  right: 0px;
  padding: 1rem;
  font-weight: 600;
  text-align: right;
}

.scoreboard {
  width: 150px;
  position: absolute;
  left: 0px;
  padding: 1rem;
  font-weight: 600;
}
