.cartpoleRenderer {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.cartpoleContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 250px;
  background-color: #cccccc;
}

.pole {
  width: 10px;
  height: 150px;
  position: absolute;
  bottom: 50px;
  background-color: green;
}

.cart {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  background-color: black;
}

.redText {
  color: blue;
}
